{{template "layout" .}}

{{define "content"}}
<section class="content-header">
    <h1>Assignments</h1>
    <span class="flex-fill"></span>
    {{if .IsTeacher}}
    <a href="/assignments/new" class="btn">Crear nueva</a>
    {{end}}
</section>

{{if .Assignments}}
<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{range .Assignments}}
        <tr>
            <td>{{.Title}}</td>
            <td>
                <a href="/assignments/{{.ID}}">View</a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{else}}
<p>No assignments yet.</p>
{{end}}
{{end}}
